<div class="mdl-card mdl-shadow--2dp" style="width: 100%">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Total Lag Graph</h2>
  </div>
  <div style="width: 96%; margin-right: 2%; margin-left: 2%;">
    <div class="mdl-card__supporting-text" style="width: 100%;">
      <!--Chart View-->
      <div class="row" style="float: left; width: 100%; height: 5%;">
        <div id="metrics_chips">
          <span class="metric-chip mdl-chip">
            <span class="mdl-chip__text">Min Lag: {{ minLag | number }}</span>
          </span>
          <span class="metric-chip mdl-chip">
            <span class="mdl-chip__text">Max Lag: {{ maxLag | number }}</span>
          </span>
          <span class="metric-chip mdl-chip">
            <span class="mdl-chip__text">Avg Lag: {{ avgLag | number }}</span>
          </span>
        </div>
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="100%" height="25%"
                    [datasets]="lineChartData"
                    [labels]="observableLabels | async"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
