<div id="consumer_data" *ngIf="topic">
  <!-- Square card -->
  <div *ngIf="consumers.length != 0">
    <div class="consumer-card mdl-card mdl-shadow--2dp" *ngFor="let consumer of consumers" style="float: left;">
      <div class="mdl-card__title mdl-card--expand" [ngClass]="{statusBad: consumer.status.status == 'ERR', statusGood: consumer.status.status == 'OK'}">
        <h2 class="mdl-card__title-text">{{consumer.request.group}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="consumer-detail">Status:</span>{{consumer.status.status}}
        <br>
        <span class="consumer-detail">Total Lag:</span>{{consumer.status.totallag}}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="analyzeConsumer(consumer.request.cluster, consumer.request.group)">
        View Consumer
        </a>
      </div>
    </div>
  </div>
</div>
