.home {
  width: 96%;
  margin: 2% auto;
}

a.mdl-layout-title {
  color: white;
  text-decoration: none;
}

#metrics_chips {
  width: 98%;
  margin-right: 2%;
}

.metric-chip.mdl-chip {
  float: right;
  margin-left: 2%;
}

.cards {
  width: 28%;
  float: left;
  margin-right: 2%;
}

.cluster-card.mdl-card {
  width: 100%;
  margin-bottom: 5%;
}

.cluster-info.mdl-list {
  margin: 0;
  padding: 0;
}

.consumers {
  width: 70%;
  float: left;
}

.available-consumers-list {
  width: 100%;
  margin-bottom: 2%;
}

.display_consumers_header {
  width: 100%;
  height: 40px;
}

.list-title {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;
}

#cluster_chips {
  float: right;
}

.loading {
  margin: 0 auto;
}

.test {
  font-size: 40px;
}

.page-content {
  margin: 0 auto;
}

.nav-header {
  font-size: 40px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.partition-state-table {
  width: 96%;
  margin: 2%;
}

.circle-display {
  margin: 2%;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: 20px;
}

#rolling_window {

  width: 20%;
  height: 30%;
  float: left;
}

.circle-display.okay {
  background: #009688;
  box-shadow: 10px 10px 10px #80CBC4;
}

.circle-display.error {
  background: #E91E63;
  box-shadow: 10px 10px 10px #F48FB1;
}

.circle-display.warning {
  background: #FFEB3B;
  box-shadow: 10px 10px 10px #FFF59D;
}

.statusGood { background-color: #009688; }

.statusWarning { background-color: #FFF59D; }

.statusBad { background-color: #F48FB1; }
