<mat-card>
  <mat-card-header>
    <mat-card-title>Name: {{ cluster }}</mat-card-title>
    <mat-card-subtitle><span class="label">kafka-version:</span>{{ detail.module.clientProfile.kafkaVersion }}</mat-card-subtitle>
    <mat-card-subtitle><span class="label">client-id:</span>{{ detail.module.clientProfile.clientId }}</mat-card-subtitle>
    <mat-card-subtitle><span class="label">topic-refresh:</span>{{ detail.module.topicRefresh }}</mat-card-subtitle>
    <mat-card-subtitle><span class="label">offset-refresh:</span>{{ detail.module.offsetRefresh }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button (click)="viewConsumers()" mat-raised-button>Consumers</button>
    <button (click)="viewTopics()" mat-raised-button>Topics</button>
  </mat-card-actions>
</mat-card>


